{% extends 'sbadmin.html.twig' %}

{% block title %}Edition d'un article{% endblock %}

{% block content %}

    <div class="example-wrapper">
        <h1>Edition d'un article</h1>
        {{ form(form) }}
    </div>
    
{% endblock %}
